@using MenuItem = AppFront.MenuItem

<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/">
                    <span class="brand-logo">
                        <img src="/img/logo.png" style="width: 36px;" />
                    </span>
                    <h2 class="brand-text" style="color:#0039bb">Do.Sakha</h2>
                </a>
            </li>
            @* <li class="nav-item nav-toggle">
                <a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse">
                <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i>
                <i class="d-none d-xl-block collapse-toggle-icon font-medium-4 text-primary" data-feather="disc"
                data-ticon="disc"></i></a>
                </li> *@
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            @* <li class="nav-item ">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i data-feather="mail"></i>
                a1
                </NavLink>
                </li>
                <li class="nav-item ">
                <NavLink class="nav-link" href="/counter" >
                <i data-feather="mail"></i>
                a2
                </NavLink>
                </li>
                <li class=" navigation-header"><span data-i18n="Apps &amp; Pages">Apps &amp; Pages</span>
                <i data-feather="more-horizontal"></i>
                </li> *@

            @* old *@
            @* <li class=" nav-item">
                <a class="d-flex align-items-center" href="/Counter">
                <i data-feather="mail"></i>
                <span class="menu-title text-truncate" data-i18n="Counter">Counter</span>
                </a>
                </li> *@
            @* old *@


            @foreach (var menu in menus)
            {
                if (menu.menuType == MenuItem.MenuType.Link)
                {
                    <li class="nav-item ">
                        <NavLink class="d-flex align-items-center" href=@menu.Url Match="@menu.navLinkMatch">
                            <i data-feather=@menu.Icon></i>
                            <span class="menu-title text-truncate" data-i18n=@menu.Title>@menu.Title</span>
                        </NavLink>
                    </li>
                }
                else if (menu.menuType == MenuItem.MenuType.Header)
                {
                    <li class=" navigation-header">
                        <span data-i18n="Apps &amp; Pages">@menu.Title</span>
                        <i data-feather="more-horizontal"></i>
                    </li>
                }
            }
        </ul>
    </div>
</div>
<!-- END: Main Menu-->

@code {
    List<MenuItem> menus = new List<MenuItem>{
new MenuItem{ Title = "Dashboard", Url = "", Icon = "home", navLinkMatch = NavLinkMatch.All },
new MenuItem{ Title = "Counter", Url = "/Counter", Icon = "file" },
new MenuItem{ Title = "Apps & pages", menuType = MenuItem.MenuType.Header },
new MenuItem{ Title = "School", Url = "/School", Icon = "file" },
new MenuItem{ Title = "News", Url = "/News", Icon = "file-text" },
new MenuItem{ Title = "Users", Url = "/Users", Icon = "users" },
new MenuItem{ Title = "FAQ", Url = "/FAQ", Icon = "file" },
@* new MenuItem{ Title = "Login", Url = "/Login", Icon = "file" }, *@
new MenuItem{ Title = "Test", Url = "/Test", Icon = "file" },
};
}