<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title my-2">Нет записей</h4>
        @* <p class="card-text">This card has supporting text below as a natural lead-in to
            additional content.</p> *@
        @* <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
            </p> *@
    </div>
</div>