<div class="misc-inner p-2 p-sm-5 h-100 xcenter">
    <div class="w-100 text-center">
        <h1 class="display-1">404</h1>
        <h2 class="mb-1">Страница не найдена </h2>
        <a class="mb-2 btn-sm-block " href="/">
            <Button>На Главную</Button>
        </a>
        
    </div>
</div>