<div>
    <div class="ExampleFileView">
        <div class="inner">
            <a href="@URL" target="_blank">
                <div class="img">
                </div>
            </a>
        </div>
    </div>
    <a href="@URL" target="_blank">
        Пример
    </a>
</div>